---
url: /humans.txt
---
/* TEAM */

Web Designer/Developer: Oscar Otero
Site: https://oscarotero.com/
Twitter: @misteroom
Location: Santiago, Galiza, Spain.

Illustrator: Hugo Tobio
Site: https://combence.com/
Twitter: @HugoTobio
Location: Bilbao, Basque Country, Spain.

Supervision: Candela Milán
Twitter: @candelamd
From: A Coruña, Galicia, Spain.

Release Management: Jerónimo López
Twitter: @jerolba
Location: Madrid, Spain.

Grumpy Repo Management: Yeray Darias
Twitter: @ydarias
From: Tenerife, Canary Islands, Spain.

Copy: David Bonilla
Site: https://bonillaware.com/
Twitter: @david_bonilla
Location: Madriz, Spain.

/* SITE */

Last update: {{ now | date("DATE") }}
Standards: HTML5, CSS3, JS
Software: Lume (https://lumeland.github.io/)
Platform: Netlify (https://www.netlify.com/)
