.footer {
  text-align: center;
  margin: 100px 20px 50px;

  & h3 {
    font: var(--font-24-bold);
  }
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
  list-style: none;
  padding: 0;
  justify-content: center;
}