.footer {
  text-align: center;
  margin: 100px 20px 50px;

  & h3 {
    font: var(--font-24-bold);
  }
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  list-style: none;
  padding: 0;
  justify-content: center;

  & a {
    display: block;
    padding: 10px;

    &:hover {
      color: var(--color-grey);
      text-decoration: none;
    }
  }
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 46px);
  gap: 20px;
  margin: 50px 0;
  list-style: none;
  padding: 0;
  justify-content: center;
}