.maincontent {
  max-width: var(--max-width);
  font: var(--font-16);
  margin: 4.8rem auto;
  padding: 0 60px;

  & img {
    display: block;
    max-width: 100%;
  }
}
.maincontent-content {
  & h2,
  & h3 {
    font: var(--font-28);
  }

  & h2 {
    text-transform: uppercase;
  }

  & h4 {
    font: var(--font-24);
  }

  & > * + * {
    margin-top: 20vh;
  }
}
.maincontent-aside-header {
  font: var(--font-14);
  background-color: var(--color-grey-50);
  padding: 20px;
  border: solid 1px var(--color-grey-100);
  margin-top: 30px;

  & h2 {
    text-align: center;
  }
  & p {
    margin: 0;
  }
  & img {
    margin: -50px auto 0;
  }
}
.maincontent-cardlist {
  list-style: none;
  margin: 80px 0;
  padding: 0;
  display: grid;
  gap: 20px;
  text-align: center;
  font: var(--font-14);
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  justify-content: center;

  & strong {
    display: block;
  }

  & img {
    margin: 0 auto 10px;
  }
}

@media (min-width: 800px) {
  .maincontent {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(250px, 350px);
    grid-column-flow: dense;
    column-gap: 40px;
  }
  .maincontent-content {
    grid-row-start: 1;
    grid-column-start: 1;
    max-width: 750px;
  }
  .maincontent-aside {
    grid-row-start: 1;
    grid-column-start: 2;
    height: calc(100vh - 68px - 8rem);
    overflow-y: scroll;
    position: sticky;
    top: calc(68px + 4rem);
    padding-right: 20px;
  }
}

.maincontent-goals {
  background: var(--color-grey-50);
  border: solid 1px var(--color-grey-100);
  padding: 20px;
  margin: 10vh 0;

  & h4 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.maincontent-goal {
  border: solid 4px;
  border-radius: 8px;
  padding: 10px;

  & dt {
    margin: 0;
    font: var(--font-16-bold);
  }
  & dd {
    margin: 0;
    font: var(--font-14);
    color: var(--color-grey-500);
  }
  & p {
    margin: 0;
  }

  & img {
    float: right;
    margin: 0 0 .5em .5em;
  }

  & + .maincontent-goal {
    margin-top: 10px;
  }
}