.team-members {
  color: #156d6d;
  font-family: var(--font-pixel);
  font-size: 12px;
  margin-top: 0;
  gap: 0;
}
.team-member {
  width: 180px !important;

  & > a {
    display: block;
    text-decoration: none;
    transition: background-color 1s;
    transition-delay: 0.5s;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    &:hover {
      background-color: #00fa8c;
      transition: background-color 100ms;

      & img {
        transition-duration: 100ms;
      }
    }
  }

  & img {
    filter: sepia(80%) hue-rotate(160deg) saturate(150%);
    transition: filter 1s;
  }

  & strong {
    font: inherit;
    text-transform: uppercase;
    color: #003e3e;
  }

  &:hover img {
    filter: none;
  }
}