html {
  font-family: var(--font-family);
  color: var(--color-black);
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  margin: 0;
  font: var(--font-14);
  font-weight: var(--font-weight-normal);
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--color-primary-600);
}

video {
  width: 100%;
  display: block;
  margin: 2em 0;
  background-color: white;
}

hr {
  border: none;
  border-top: solid 1px var(--color-primary-500);
  width: 80%;
  margin: 50px auto;
}