<section class="maincontent-calendar" id="calendar">
  <header>
    <h2>{{ content.title | md(true) | safe }}</h2>
  </header>

  {{ content.intro | md | safe }}

  <ul class="calendar-days js-calendar">
    {% for day in content.days %}
    <li>
      <div class="calendar-day">
        <h4>{{ day.title }}</h4>

        <ul>
          {% for event in day.events %}
          <li>
            <details class="calendar-event">
              <summary class="calendar-event-header">
                {{ event.time }}
                <strong>{{ event.title }}</strong>
              </summary>

              <div class="calendar-event-text">
                {{ event.details | md | safe }}
              </div>
            </details>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>

</section>