---
layout: layouts/layout.njk
menu:
  - text: ← Volver
    href: '/'
scripts:
  - /js/menu.js
---

<nav class="mainbar">
  <a href="/">
    <img class="mainbar-logo" src="/img/tarugo21-kickstarter.svg }}">
  </a>
</nav>

{% include "templates/navbar.njk" %}

<div class="maincontent">
  <section class="maincontent-narrow">
    {{ content | safe }}
  </section>
</div>
