---
layout: layouts/layout.njk
scripts:
  - /js/home.js
  - /js/components.js
  - /js/menu.js
---

<nav class="mainbar">
  <a href="{{ '/' | url }}">
    <img class="mainbar-logo" src="{{ 'img/tarugo21-kickstarter.svg' | url }}">
  </a>
</nav>

<div class="project-container">
  <div class="project">
    <header class="project-header">
      <h1>{{ header.title }}</h1>
      <p>{{ header.subtitle }}</p>
    </header>

    <figure class="project-video">
      <tarugo-video id="video" data-id="{{ video.id }}" title="{{ video.title }}">
        <img src="{{ video.poster }}">
        <a href="https://vimeo.com/{{ video.id }}">{{ video.title }}</a>
      </tarugo-video>
    </figure>

    <div class="project-actions">
      <progress class="progress" value="{{ eventbrite.metrics.tickets }}" max="500"></progress>

      <ul class="project-details">
        <li class="project-details-tickets">
          <strong>{{ eventbrite.metrics.tickets }} entradas vendidas</strong>
          de un mínimo de 500 para celebrar el evento
        </li>

        <li class="project-details-sponsors">
          <strong>{{ metrics.sponsors }} patrocinadores</strong>
        </li>

        <li class="project-details-days">
          <strong>{{ metrics.days }} días</strong>
          hasta el evento
        </li>
      </ul>

      <a href="{{ '~/pledge.yml' | url }}" class="button is-primary">Asiste a este evento</a>

      <p class="project-subactions">
        <a href="#" class="button is-secondary">Patrocínalo</a>

        {% for link in share.links %}
          {% if link.copy %}
          <tarugo-copy data-text="{{ link.href }}">
          <a href="{{ link.href }}" class="button is-social is-{{ link.type }}" title="{{ link.title }}" target="_blank">
            <img src="/img/{{ link.type }}.svg" alt="{{ link.type }}" inline>
          </a>
          </tarugo-copy>
          {% else %}
          <a href="{{ link.href }}" class="button is-social is-{{ link.type }}" title="{{ link.title }}" target="_blank">
            <img src="/img/{{ link.type }}.svg" alt="{{ link.type }}" inline>
          </a>
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
</div>

{% include "templates/navbar.njk" %}

<div class="maincontent has-2cols">
  <section class="maincontent-aside">
    <header class="maincontent-aside-header">
      <img src="{{ '/img/logo-tarugo.png' | url }}" alt="Logo Tarugo" width="50">

      <h2>{{ aside.title }}</h2>
      {{ aside.intro | md | safe }}
    </header>

    <h3>{{ tickets.title }}</h3>

    {% include "home/tickets.njk" %}
  </section>

  <div class="maincontent-content">
    {% set content = home.what %}
    {% include "home/what.njk" %}

    {% set content = home.why %}
    {% include "home/why.njk" %}

    {% set content = home.calendar %}
    {% include "home/calendar.njk" %}

    {% set content = home.speakers %}
    {% include "home/speakers.njk" %}

    {% set content = home.partners %}
    {% include "home/partners.njk" %}

    {% set content = home.contact %}
    {% include "home/contact.njk" %}

    {% set content = home.faq %}
    {% include "home/faq.njk" %}
  </div>
</div>

{% include "templates/footer.njk" %}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
