---
layout: layouts/layout.njk
scripts:
  - js/components.js
---

<nav class="mainbar">
  <a href="{{ '/' | url }}">
    <img class="mainbar-logo" src="{{ 'img/tarugo21-kickstarter.svg' | url }}">
  </a>
</nav>

{% include "templates/navbar.njk" %}

<div class="maincontent">
  <section class="maincontent-narrow">
    <header>
      <h1>{{ header.title }}</h1>
    </header>

    {{ header.intro | md | safe }}

    <ul class="maincontent-cardlist">
      {% for item in highlights %}
      <li>
        <strong>{{ item.title }}</strong>
        {{ item.description | md | safe }}
      </li>
      {% endfor %}
    </ul>

    <figure class="maincontent-photo">
        <picture>
          <source srcset="{{ image.src | url }}-1600px.webp" media="(min-width:800px)" type="image/webp">
          <source srcset="{{ image.src | url }}-1600px.jpg" media="(min-width:800px)">
          <source srcset="{{ image.src | url }}-800px.webp" type="image/webp">
      
          <img
            src="{{ image.src | url }}-800px.jpg"
            alt="{{ image.alt }}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            loading="lazy"
            >
        </picture>
    </figure>

    <h2>{{ talks.title }}</h2>

    <div class="maincontent-highlights">{{ talks.aside | md | safe }}</div>
    
    {{ talks.text | md | safe }}

    <figure class="maincontent-photo">
      <tarugo-video id="video" data-id="305100749" title="#tarugo3 / Andrés Torrubia / Haciendo posible lo imposible">
        <img src="{{ 'img/speaker-andres.webp' | url }}">
        <a href="https://vimeo.com/305100749">#tarugo3 / Andrés Torrubia / Haciendo posible lo imposible</a>
      </tarugo-video>
    </figure>

    <section class="benefits ly-section" id="beneficios">
        <h2 class="benefits-title">{{ benefits.title }}</h2>
        <div class="benefits-intro">
            {{ benefits.intro | md | safe }}
        </div>

        <ul class="maincontent-cardlist">
            {% for item in benefits.benefits %}
            <li>
                <img src="{{ item.img | url }}" inline>
                <strong>{{ item.title }}</strong>
                {{ item.description | md | safe }}
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="pastSpeakers ly-section">
        <h2 class="pastSpeakers-title">{{ speakers.title }}</h2>

        <tarugo-carousel class="pastSpeakers-quotes" role="region" aria-label="Carrusel" tabindex="0">
            {% for item in speakers.quotes %}
            <figure class="pastSpeakers-quote">
                <blockquote>
                  {{ item.quote | md | safe }}
                </blockquote>
                <figcaption>
                  <img src="{{ item.image | url }}">
                  <p>
                    <cite>{{ item.name }}</cite><br>
                    {{ item.position }}
                  </p>
                </figcaption>
              </figure>
            {% endfor %}
        </tarugo-carousel>

        <div class="pastSpeakers-quotes-nav">
          <button type="button" class="js-carousel-prev">Anterior</button>
          <button type="button" class="js-carousel-next">Siguiente</button>
        </div>
          
        <ul class="maincontent-cardlist">
          {% for item in speakers.speakers %}
          <li>
            <tarugo-img>
            <img class="pastSpeaker-image" src="{{ item.image | url }}">
            </tarugo-img>

            <strong>{{ item.name }}</strong>
            <em>{{ item.position }}</em>

            <a href="{{ item.twitter.url }}" class="button is-social is-twitter" title="{{ item.twitter.title }}">
              <img src="{{ '/img/twitter.svg' | url }}" inline>
            </a>
          </li>
          {% endfor %}
        </ul>
    </section>

    <div class="ly-section">
      <section class="resources" id="recursos">
        <h2 class="resources-title">{{ resources.title }}</h2>

        <ul class="resources-links">
          {% for item in resources.links %}
          <li>
            <a href="{{ item.href }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </section>
</div>
